{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="icon" href="{% static "ws/images/favicon.ico" %}" />
		<link rel="shortcut icon" href="{% static "ws/images/favicon.ico" %}" />
		<link rel="stylesheet" href="{% static "ws/css/style.css" %}" />
 		<link rel="stylesheet" href="{% static "ws/css/camera.css" %}" />
		<link rel="stylesheet" href="{% static "ws/css/form.css" %}" />
		<script type="text/javascript" src="{% static "ws/js/jquery.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/jquery-migrate-1.1.1.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/superfish.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/jquery.ui.totop.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/forms.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/jquery.equalheights.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/jquery.easing.1.3.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/tms-0.4.1.js" %}"></script>
		<script>
			$(document).ready(function(){
				$('.slider_wrapper')._TMS({
					show:0,
					pauseOnHover:false,
					prevBu:'.prev',
					nextBu:'.next',
					playBu:false,
					duration:800,
					preset:'fade',
					pagination:true,//'.pagination',true,'<ul></ul>'
					pagNums:false,
					slideshow:8000,
					numStatus:false,
					banners: 'fade',
					waitBannerAnimation:false,
					progressBar:false
				});
			});
			$(document).ready(function(){
				!function(){
			var map=[]
			 ,names=[]
			 ,win=$(window)
			 ,header=$('header')
			 ,currClass
			$('.content').each(function(n){
			 map[n]=this.offsetTop
			 names[n]=$(this).attr('id')
			})
			win
			 .on('scroll',function(){
				var i=0
				while(map[i++]<=win.scrollTop());
				if(currClass!==names[i-2])
				currClass=names[i-2]
				header.removeAttr("class").addClass(names[i-2])
			 })
			}(); });
					function goToByScroll(id){
				$('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
				}
				$(document).ready(function(){
					$().UItoTop({ easingType: 'easeOutQuart' });
				});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/../admin/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="../admin/js/html5shiv.../admin/js"></script>
			<link rel="stylesheet" media="screen" href="../admin/css/ie.../admin/css">
		<![endif]-->
	</head>
	<body class="">
<!--==============================header=================================-->
		<header class="page1">
			<div class="container_12">
				<div class="grid_12">
					<h1><a href="#" onClick="goToByScroll('page1'); return false;"><img src="{% static "ws/images/logo.ico" %}" alt="Gerald Harris attorney at law"></a></h1>
					<div class="menu_block">
						<nav class="">
							<ul class="sf-menu">
								<li class="current men"><a onClick="goToByScroll('page1'); return false;" href="#">Home </a> <strong class="hover"></strong></li>
								<li class="men1"><a onClick="goToByScroll('page2'); return false;" href="#">movie</a><strong class="hover"></strong></li>
								<li class=" men2"><a onClick="goToByScroll('page3'); return false;" href="#">Mrzhou</a> <strong class="hover"></strong></li>
								<li class=" men3"><a onClick="goToByScroll('page4'); return false;" href="#">others</a> <strong class="hover"></strong></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
 
<!--=======content================================-->
		<div id="page1" class="content">
			<div class="ic">More Website Templates @ TemplateMonster.com - September 9, 2013!</div>
			<div class="container_12">
				<div class="grid_12">
					<div class="slider_wrapper">
						<ul class="items">
							<li>
								<img src="{% static "ws/images/spacer.gif" %}">
								<div class="caption banner">
									<h2>做人如果没梦想，跟咸鱼有什么分别？</h2>
								</div>
							</li>
							<li>
								<img src="{% static "ws/images/spacer.gif" %}">
								<div class="caption banner">
									<h2>虽然你们是扮演路人甲乙丙丁，但是一样是有生命、有灵魂的。</h2>
								</div>
							</li>
							<li>
								<img src="{% static "ws/images/spacer.gif" %}">								<div class="caption banner">
									<h2>根本就没有什么食神，或者说，人人都是食神。</h2>
								</div>
							</li>
							<li>
								<img src="{% static "ws/images/spacer.gif" %}">								<div class="caption banner">
									<h2>原来那个女孩子在我心里留下了一滴眼泪，我完全可以感受到当时他是多么的伤心。！</h2>
								</div>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		<!--=======================================================-->
		
		<div id="page2" class="content">
			<div class="container_12">
				<div class="grid_12">
					<div class="slogan">
						<h3>我最喜欢的周星驰的电影 </h3>
						<div class="text1">
							 苑琼丹评价周星驰：“周星驰拍电影是一个天才，我即使演出多年，<br>也时常跟不上他的步伐，演戏的把握点要很准确。”
							<br>更多关于对周星驰的信息<a href="http://tieba.baidu.com/f?kw=%D6%DC%D0%C7%B3%DB" rel="nofollow" class="tm_link"> Click here</a></br>
					     </div>
					</div>
				</div>
				<div class="grid_3">
					<div class="box maxheight">
					<a href="./功夫/index.html">
						<img src="{% static "ws/images/box_img1.jpg" %}">
						</a>
						<div ><a href="./功夫/index.html" rel="nofollow" class="tm_link">功夫</a></div>
						
					</div>
				</div>
				<div class="grid_3">
					<div class="box maxheight">
					<a  href="./唐伯虎点秋香/index.html">
						<img src="{% static "ws/images/box_img2.jpg" %}">
					</a>
						<div ><a  href="./唐伯虎点秋香/index.html" rel="nofollow" class="tm_link">唐伯虎点秋香</a></div> 
					</div>
				</div>
				<div class="grid_3">
					<div class="box maxheight">
					<a href="./食神/index.html">
						<img src="{% static "ws/images/box_img3.jpg" %}">
					</a>
						<div ><a href="./食神/index.html" rel="nofollow" class="tm_link">食神</a> </div>
					</div>
				</div>
				<div class="grid_3">
					<div class="box maxheight">
					<a href="./月光宝盒/index.html">
						<img src="{% static "ws/images/box_img4.jpg" %}">
					</a>
						<div><a href="./月光宝盒/index.html" rel="nofollow" class="tm_link">大话西游之月光宝盒</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
				<!--=============================================-->
		<div id="page3" class="content">
			<div class="container_12">
			<div class="grid_12">
					<div class="slogan">
						<br><h2>周星驰</h2><h4>-明星，导演，编剧，演员</h4></br>
						
					</div>
				</div>
			<div class="showLeft">
			    <div class="grid_3">
				<a href="http://baike.haosou.com/doc/88963-93978.html" >
						<img src="../admin/images/Mrzhou.jpg" alt=""></a>
				</div>
				</div>
				<div class="showRight">
					<div class="huncontent">	
					<h3>周星驰（Stephen Chow），1962年6月22日生于中国香港，华语喜剧演员、导演、编剧、监制、制片人、出品人。<br>
因其独特“无厘头”（毫无逻辑）的个人演绎方式；透过他的喜剧影视作品，并被香港及海外的广泛华人接受，声名甚至远达北美地区。其代表影视作品有《唐伯虎点秋香》、《大话西游》、《国产凌凌漆》、《食神》、《喜剧之王》、《逃学威龙》等。<br>
2003年当选《时代周刊》“年度风云人物”，并获选成为“亚洲英雄”的封面人物。2004年《功夫》创下数十个国家和地区的华语电影票房纪录，并被《时代周刊》评为“2005年十大佳片之一”。<br>
2013年执导的《西游降魔篇》创华语片新记录，成为全球最卖座的华语电影；同年当选广东省政协委员。<br>
2014年执导的科幻电影《美人鱼》开拍，预计2016年春节上映；因《功夫》上映十周年，数字修复版《功夫3D》于2015年1月15日重登大银幕。</h3></div>
					<div style="clear:both"></div>
				</div>
			</div>
		</div>
		<!--=====================================================-->
<div id="page4" class="content">
			<div class="container_12">
				<div class="grid_12">
					<h3>周星驰的其他电影</h3>
				</div>
				<div class="companies">
					<div class="grid_3">
					<a href="./jb/jb1/index.html">
						<img src="../admin/images/logo1.jpg" alt=""></a>
						<div class="text1">长江七号</div>
						<a href="./jb/jb1/index.html">Go to </a>
					</div>
					<div class="grid_3">
					<a href="./jb/jb2/index.html">
						<img src="../admin/images/logo2.jpg" alt=""></a>
						<div class="text1">百变星君</div>
						<a href="./jb/jb2/index.html">Go to </a>
					</div>
					<div class="grid_3">
					<a href="./jb/jb3/index.html">
						<img src="../admin/images/logo3.jpg" alt=""></a>
						<div class="text1">算死草</div>
						<a href="./jb/jb3/index.html">Go to </a>
					</div>
					<div class="grid_3">
					<a href="./jb/jb4/index.html">
						<img src="../admin/images/logo4.jpg" alt=""></a>
						<div class="text1">回魂夜</div>
						<a href="./jb/jb4/index.html">Go to </a>
					</div>
					<div class="clear"></div>
					<div class="grid_3">
					<a href="./jb/jb5/index.html">
						<img src="../admin/images/logo5.jpg" alt=""></a>
						<div class="text1">九品芝麻官</div>
						<a href="./jb/jb5/index.html">Go to </a>
					</div>
					<div class="grid_3">
					<a href="./jb/jb6/index.html">
						<img src="../admin/images/logo6.jpg" alt=""></a>
						<div class="text1">整蛊专家</div>
						<a href="./jb/jb6/index.html">Go to </a>
					</div>
					<div class="grid_3">
					<a href="./jb/jb7/index.html">
						<img src="../admin/images/logo7.jpg" alt=""></a>
						<div class="text1">龙的传人</div>
						<a href="./jb/jb7/index.html">Go to </a>
					</div>
					<div class="grid_3">
					<a href="./jb/jb8/index.html">
						<img src="../admin/images/logo8.jpg" alt=""></a>
						<div class="text1">西游降魔篇</div>
					<a href="./jb/jb8/index.html">Go to </a>
					</div>
				</div>
			</div>
		</div>

<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="copy">
						<a onClick="goToByScroll('page1'); return false;" href="#"><img src="../admin/images/footer_logo.png" alt="">
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>