{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="icon" href="{% static "ws/images/logo.ico" %}" />
		<link rel="shortcut icon" href="{% static "ws/images/logo.ico" %}" />
		<link rel="stylesheet" href="{% static "ws/css/style.css" %}" />
 		<link rel="stylesheet" href="{% static "ws/css/camera.css" %}" />
		<link rel="stylesheet" href="{% static "ws/css/form.css" %}" />
		<link rel="stylesheet" href="{% static "ws/css/home.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "ws/css/gdt-style.css" %}" />
		<script type="text/javascript" src="{% static "ws/js/jquery.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/jquery-migrate-1.1.1.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/superfish.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/jquery.ui.totop.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/forms.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/jquery.equalheights.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/jquery.easing.1.3.js" %}"></script>
		<script type="text/javascript" src="{% static "ws/js/tms-0.4.1.js" %}"></script>
		<script>
			$(document).ready(function(){
				$('.slider_wrapper')._TMS({
					show:0,
					pauseOnHover:false,
					prevBu:'.prev',
					nextBu:'.next',
					playBu:false,
					duration:800,
					preset:'fade',
					pagination:true,//'.pagination',true,'<ul></ul>'
					pagNums:false,
					slideshow:8000,
					numStatus:false,
					banners: 'fade',
					waitBannerAnimation:false,
					progressBar:false
				});
			});
			$(document).ready(function(){
				!function(){
			var map=[]
			 ,names=[]
			 ,win=$(window)
			 ,header=$('header')
			 ,currClass
			$('.content').each(function(n){
			 map[n]=this.offsetTop
			 names[n]=$(this).attr('id')
			})
			win
			 .on('scroll',function(){
				var i=0
				while(map[i++]<=win.scrollTop());
				if(currClass!==names[i-2])
				currClass=names[i-2]
				header.removeAttr("class").addClass(names[i-2])
			 })
			}(); });
					function goToByScroll(id){
				$('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
				}
				$(document).ready(function(){
					$().UItoTop({ easingType: 'easeOutQuart' });
				});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/../admin/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="../admin/js/html5shiv.../admin/js"></script>
			<link rel="stylesheet" media="screen" href="../admin/css/ie.../admin/css">
		<![endif]-->
	</head>
	<body class="">
<!--==============================header=================================-->
		<header class="page1">
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="">
							<ul class="sf-menu">
								<li class="current men"><a onClick="goToByScroll('page1'); return false;" href="#">Home </a> <strong class="hover"></strong></li>
								<li class="men1"><a onClick="goToByScroll('page2'); return false;" href="#">Photos</a><strong class="hover"></strong></li>
								<li class=" men2"><a onClick="goToByScroll('page3'); return false;" href="#">Work</a> <strong class="hover"></strong></li>
								<li class=" men3"><a onClick="goToByScroll('page4'); return false;" href="#">Blog</a> <strong class="hover"></strong></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
 
<!--=======content================================-->
		<div id="page1" class="content">
			<div class="ic">WangSong Work</div>
			<div class="container_12">
				<div class="grid_12">
					<div class="slider_wrapper">
						<ul class="items">
							<li>
								<img src="{% static "ws/images/spacer.gif" %}">
								<div class="caption banner">
									<div style="width:100%;height:40px;"></div>
									<h2>一杯水的平静，和一辈子的复杂</h2>
								</div>
							</li>
							<li>
								<img src="{% static "ws/images/spacer.gif" %}">
								<div class="caption banner">
									<div style="width:100%;height:40px;"></div>
									<h2>能不能就简单地做只的小松鼠？</h2>
								</div>
							</li>
							<li>
								<img src="{% static "ws/images/spacer.gif" %}">								<div class="caption banner">
									<div style="width:100%;height:30px;"></div>
									<h3>The dog equally study, <br>
										the gentleman equally plays.</h3>
								</div>
							</li>
							<li>
								<img src="{% static "ws/images/spacer.gif" %}">								<div class="caption banner">
									<div style="width:100%;height:40px;"></div>
									<h3>生命是草料，时光是马<br>
									我贪生怕死，我蹑手蹑脚地喂马</h3>
								</div>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		<!--=======================================================-->
		
		<div id="page2" class="content">
			<div class="container_12">
				<div class="grid_12">
					<div class="slogan">
						<a href='/photo/' style="cursor:pointer"><h3>我曾经跨过山和大海,也穿过人山人海</h3></a>
						<div class="text1" style="line-height:28px">
							 眼睛是最好的相机<br>
							 记忆是最美的相册<br>
							 曾经的花儿<br>
							 还依旧在彼岸
					     </div>
					</div>
				</div>
			
			</div>
		</div>
				<!--=============================================-->
		<div id="page3" class="content">
			<div class="container_12">
			<div class="grid_12">
					<div class="slogan">
						<br>
						<a href="/work">
						<h2>作品展</h2></a>
						<h4>e键收藏、悦礼、麻客菠萝、嘟嘟养成记、招财喵、投资之星，以及我的小作品(hellostock\八一扫雷\数心……)</h4></br>
					</div>
				</div>
			</div>
		</div>

		<!--=====================================================-->
<div id="page4" class="content">
			<div class="container_12">
				<div class="grid_12">
					<a href="/blog">
						<h2>博客剥壳</h2></a>

				</div>
			</div>
		</div>

<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="copy">
						<a onClick="goToByScroll('page1'); return false;" href="#"><img src="{% static "ws/images/footer_logo.png" %}" alt=""></a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>

<div class="side-bar"> 
	<a href="#" class="icon-qq">QQ<div class="chat-tips2"><i></i><img style="width:138px;height:138px;" src="{% static "ws/img/code1.jpg" %}" alt="qq二维码"></div></a> 
	<a href="" class="icon-chat">微信<div class="chat-tips"><i></i><img style="width:138px;height:138px;" src="{% static "ws/img/code2.jpg" %}" alt="微信订阅号"></div></a> 
	<a target="_blank" href="http://weibo.com/2202375297/profile?topnav=1&wvr=6" class="icon-blog">微博</a> 
	<a href="mailto:wangsong1299@163.com" class="icon-mail">mail</a> 
</div>



	</body>
</html>