{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>相册页</title>
		<link rel="icon" href="{% static "ws/images/logo.ico" %}" />
		<link rel="shortcut icon" href="{% static "ws/logo.ico" %}" />
		<link rel="stylesheet" href="{% static "ws/css/style.css" %}" />
		<link rel="stylesheet" href="{% static "ws/css/home.css" %}" />
		<script type="text/javascript" src="{% static "ws/js/jquery.js" %}"></script>

		<link rel="stylesheet" href="{% static "ws/css/baguettebox.min.css" %}">
		<link rel="stylesheet" href="{% static "ws/css/lrtk.css" %}">
		<script type="text/javascript" src="{% static "ws/js/baguettebox.min.js" %}"></script>
	</head>
	<body class="">
		<div class="header" style="height:250px">
				<div class="container">
					<div class="menu_block">
						<nav class="">
							<ul class="sf-menu">
								<li><a href="/" class="bartitle">首页 </a></li>
								<li><a href="#" class="bartitle" id="tagclassify">相册分类</a></li>
								<li><a href="/work" class="bartitle" id="imgsubmit">图片上传 </a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
			</div>

			<img src="/static/ws/photo/theme_1.png" class="theme">
			
		</div>
		
	<div class="baguetteBoxOne gallery">
	        <a href="/static/ws/photo/1_1.jpg"><img src="/static/ws/photo/thumbs/1_1.jpg"></a>
	        <a href="/static/ws/photo/1_2.jpg"><img src="/static/ws/photo/thumbs/1_2.jpg"></a>
	        <a href="/static/ws/photo/1_3.jpg"><img src="/static/ws/photo/thumbs/1_3.jpg"></a>
	        <a href="/static/ws/photo/1_4.jpg"><img src="/static/ws/photo/thumbs/1_4.jpg"></a>
	        <a href="/static/ws/photo/1_5.jpg"><img src="/static/ws/photo/thumbs/1_5.jpg"></a>
	        <a href="/static/ws/photo/1_6.jpg"><img src="/static/ws/photo/thumbs/1_6.jpg"></a>
	        <a href="/static/ws/photo/1_7.jpg"><img src="/static/ws/photo/thumbs/1_7.jpg"></a>
	        <a href="/static/ws/photo/1_8.jpg"><img src="/static/ws/photo/thumbs/1_8.jpg"></a>
	       	<a href="/static/ws/photo/1_9.jpg"><img src="/static/ws/photo/thumbs/1_9.jpg"></a>
	        <a href="/static/ws/photo/1_10.jpg"><img src="/static/ws/photo/thumbs/1_10.jpg"></a>
	        <a href="/static/ws/photo/1_11.jpg"><img src="/static/ws/photo/thumbs/1_11.jpg"></a>
	        <a href="/static/ws/photo/1_12.jpg"><img src="/static/ws/photo/thumbs/1_12.jpg"></a>
	        <a href="/static/ws/photo/1_13.jpg"><img src="/static/ws/photo/thumbs/1_13.jpg"></a>
	       	<a href="/static/ws/photo/1_14.jpg"><img src="/static/ws/photo/thumbs/1_14.jpg"></a>
	        <a href="/static/ws/photo/1_15.jpg"><img src="/static/ws/photo/thumbs/1_15.jpg"></a>
	        <a href="/static/ws/photo/1_16.jpg"><img src="/static/ws/photo/thumbs/1_16.jpg"></a>
	</div>
	<div class="getmore">点击加载更多</div>
	<script>
	baguetteBox.run('.baguetteBoxOne', {
	    animation: 'fadeIn',
	});
	</script>







		<script>
			$(document).ready(function(){
				$("#tagclassify,#imgsubmit").click(function(){
					alert("还在开发中……");
				})

				$(".getmore").click(function(){
					alert("没有更多了……");
				})

				
					
																									
				});
		</script>

		
	</body>
</html>