{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>作品页</title>
		<link rel="icon" href="{% static "ws/images/logo.ico" %}" />
		<link rel="shortcut icon" href="{% static "ws/images/logo.ico" %}" />
		<link rel="stylesheet" href="{% static "ws/css/style.css" %}" />
		<link rel="stylesheet" href="{% static "ws/css/blog.css" %}" />
		<link rel="stylesheet" href="{% static "ws/css/home.css" %}" />
		<script type="text/javascript" src="{% static "ws/js/jquery.js" %}"></script>
	</head>
	<body class="" style="background:#87ceeb">
		<div class="header">
			<div class="container">
					<div class="menu_block">
						<nav class="">
							<ul class="sf-menu">
								<li><a href="/" class="bartitle">首页 </a></li>
								<li><a href="/admin/" class="bartitle" id="workadd">添加</a></li>
								<li><a href="/admin/" class="bartitle" id="workdelete">修改 </a></li>
								<li><a href="#" class="bartitle" id="worknew">足迹 </a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
			</div>
		</div>
		<div class="blog_content">
			<div class="block">
					<div class="blog_abstract" id="text1">
						<a href="#" class="text_title" id="text1_1"></a>
						<div class="text_abstract" id="text1_2"></div>
					</div>
					<div class="blog_abstract" id="text2">
						<a href="#" class="text_title" id="text2_1"></a>
						<div class="text_abstract" id="text2_2"></div>
					</div>
					<div class="blog_abstract" id="text3">
						<a href="#" class="text_title" id="text3_1"></a>
						<div class="text_abstract" id="text3_2"></div>
					</div>		
					<div class="blog_abstract" id="text4">
						<a href="#" class="text_title" id="text4_1"></a>
						<div class="text_abstract" id="text4_2"></div>
					</div>
					<div class="blog_abstract" id="text5">
						<a href="#" class="text_title" id="text5_1"></a>
						<div class="text_abstract" id="text5_2"></div>
					</div>		
			</div>

			<div class="getmore">点击加载更多</div>
		</div>
		







		<script>
			$(document).ready(function(){
						var text1 = {{ text1|safe }};
						var text2 = {{ text2|safe }};
						var text3 = {{ text3|safe }};
						var text4 = {{ text4|safe }};
						var text5 = {{ text5|safe }};


						for(var i=1;i<=2;i++){
							$("#text1_"+i).html(text1[i]);
							$("#text2_"+i).html(text2[i]);
							$("#text3_"+i).html(text3[i]);
							$("#text4_"+i).html(text4[i]);
							$("#text5_"+i).html(text5[i]);

						}

						$("#text1_1").attr('href','/work/article/'+text1[0]);
						$("#text2_1").attr('href','/work/article/'+text2[0]);
						$("#text3_1").attr('href','/work/article/'+text3[0]);
						$("#text4_1").attr('href','/work/article/'+text4[0]);
						$("#text5_1").attr('href','/work/article/'+text5[0]);



						$(".blog_abstract").hover(
							function(){
								var blog_width=parseInt(Math.random()*300+700);
								var id=$(this).attr("id");
								$("#"+id).animate({width:blog_width+"px"},"slow");
								$("#"+id).css("border","solid 2px #fbee25");
							},
							function(){
								var id=$(this).attr("id");
								$("#"+id).animate({width:"700px"},"slow");
								$("#"+id).css("border","none");
							})

				$("#worknew").click(function(){
					alert("还在开发中……");
				})

				$(".getmore").click(function(){
					alert("没有更多了……");
				})


																									
				});
		</script>

		
	</body>
</html>