{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>作品页</title>
		<link rel="icon" href="{% static "ws/images/logo.ico" %}" />
		<link rel="shortcut icon" href="{% static "ws/images/logo.ico" %}" />
		<link rel="stylesheet" href="{% static "ws/css/style.css" %}" />
		<link rel="stylesheet" href="{% static "ws/css/blog.css" %}" />
		<link rel="stylesheet" href="{% static "ws/css/home.css" %}" />
		<script type="text/javascript" src="{% static "ws/js/jquery.js" %}"></script>
	</head>
	<body class="" style="background:#87ceeb">
		<div class="header">
			<div class="container">
					<div class="menu_block">
						<nav class="">
							<ul class="sf-menu">
								<li><a href="/work" class="bartitle">目录 </a></li>
								<li><a href="/admin/" class="bartitle" id="workadd">添加</a></li>
								<li><a href="/admin/" class="bartitle" id="workdelete">修改 </a></li>
								<li><a href="#" class="bartitle" id="worknew">足迹 </a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
			</div>		
		</div>
		<div class="blog_content">
			<div class="block">
				<div class="article_title"></div>
				<div class="article_tag">标签是:<span id="article_tag"></span></div>
				<div class="article_time">破壳时:&nbsp;&nbsp;<span id="article_time">{{ text_time }}</span></div>
				<div class="article_content">
					
				</div>
			</div>
		</div>
		







		<script>
			$(document).ready(function(){
					var text_title = {{ text_title|safe }};
					$(".article_title").html(text_title);
					var text_tag = {{ text_tag|safe }};
					$("#article_tag").html(text_tag);
					var text_content = {{ text_content|safe }};
					$(".article_content").html(text_content);

					$(".block").css("background","rgba(255,255,255,0.3)");

				$("#worknew").click(function(){
					alert("还在开发中……");
				})

																									
				});
		</script>

		
	</body>
</html>